@import "./reset.styl"
$cols = 12
.container
  margin-left auto
  margin-right auto
  padding-left 15px
  padding-right 15px
.row
  display: flex
  flex-wrap: nowrap
  margin-left -15px
  margin-right -15px
for $i in 1..$cols
  .col-{$i}
    width: (100/12*$i)%
// @media only screen and(min-width:576px)
//   .container
//     width 540px