@import "./fn"

*
  margin 0
  padding 0
html
  -mx-text-size-adjust 100%
  -webkit-text-size-adjust 100%//禁止浏览器调整字体大小
body
  line-height 1.6
  font-family $weuiFontDefault
a
  text-decoration: none
  setTapColor()
  img
    border: 0