// .box
//   width 950px
//   margin 0 auto
//   font-size 0

// .col-4, .col-8
//   height 200px
//   display inline-block
//   font-size 1rem

// .col-8
//   width 60%
//   background-color green

// .col-4
//   width 40%
//   background-color red
body, div, dl, dt, dd, ul, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, button, textarea, blockquote{
    margin: 0;
    padding: 0;
}
