<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Socket.IO</title>
</head>

<body>
  <h1>Hello</h1>
  <form action="">
    <input type="text" name="" id="message">
    <button>Send</button>
  </form>
  <script src="/socket.io/socket.io.js"></script>
  <script>
    let socket = io(ser)
  </script>
</body>

</html>