* {
  user-select: none;
}
.welcome {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: #fff;
  padding: 1rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  transition: all 0.5s ease;
  z-index: 9999;
}
.welcome__bd {
  position: fixed;
  top: 40%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
}
#logo-pic {
  width: 75px;
  height: 75px;
}
.logo {
  font-size: 1.25rem;
  font-weight: bold;
  fill: none;
  stroke-width: 1px;
  stroke-dasharray: 30% 70%;
  animation: stroke 4.5s infinite linear;
}
.logo-name-text-1 {
  stroke: rgb(0, 169, 86);
}
.logo-name-text-2 {
  stroke: rgb(0, 127, 129);
  animation-delay: -1.5s;
}
.logo-name-text-3 {
  stroke: rgb(0, 86, 168);
  animation-delay: -3s;
}
@keyframes stroke {
  to {
    stroke-dashoffset: -100%;
  }
}
.welcome__bd > p {
  font-size: 0.75em;
  color: #888888;
  text-align: center;
}
.page {
  height: 100vh;
}
.tab__hd {
  position: absolute;
  z-index: 500;
  top: 0;
  width: 100%;
  background-color: #f7f7fa;
}
.weui-tab__panel {
  padding-top: 3.4rem;
  background-color: #f7f7fa;
  display: none;
}
.page-show {
  display: block !important;
}
.tab__hd-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
  padding: 0.7rem 0.75rem;
}
.tab-name {
  font-size: 1.25rem;
  display: flex;
  align-items: center;
}
.tab-name > div {
  margin-right: 1rem;
}
.tab-options {
  display: flex;
  font-size: 1.5rem;
  line-height: 1;
  height: 2rem;
  align-items: center;
}
.tab-options > div {
  padding-left: 2rem;
}
.weui-cell {
  background-color: #fff;
}
.weui-cell__hd {
  position: relative;
  margin-right: 1rem;
}
.tab-container .weui-cell__hd > img {
  display: block;
  width: 50px;
}
.weui-badge {
  position: absolute;
  top: -0.4em;
  right: -0.4em;
}
.info-tips {
  font-size: 13px;
  color: #888888;
  vertical-align: middle;
}
.weui-cell__bd > p {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.contacts-table > .weui-cells {
  margin-top: 0 !important;
}
.contacts-table .weui-cell__hd > img,
.contacts-group .weui-cell__hd > img {
  width: 40px;
  display: block;
  border-radius: 5px;
}
.weui-cell__hd > div {
  font-size: 1.5rem;
  color: rgb(238, 94, 123);
}
.profile-wrapper .weui-cell__hd > img {
  width: 60px;
}
.info-tips img {
  width: 13px;
  margin-left: 1em;
}
.info-tips > span:last-child {
  line-height: 1;
}
.profile-wrapper ~ .weui-cells {
  margin-top: 0.5rem;
}
.weui-tabbar > a > span {
  display: inline-block;
  position: relative;
}
.weui-tabbar {
  min-height: 53px;
}
.input-wrapper {
  box-sizing: border-box;
  width: 100%;
  padding: 6px 0.375rem 7px;
  display: flex;
  align-items: flex-end;
}
.input-wrapper > div {
  margin: 0 0.375rem;
}
.input-wrapper i {
  font-size: 25px;
}
.chat-btn {
  height: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.send-btn {
  padding: 0.2rem;
  border-radius: 5px;
  background-color: rgb(59, 197, 71);
  color: #fff;
  font-weight: lighter;
}
.displayNone {
  opacity: 0;
  display: none;
}
.chat-input {
  width: 0;
  flex: 1;
  background-color: #fff;
  outline: 0;
  font-size: 1.25rem;
  border-radius: 5px;
  padding: 0.25rem 0.5rem;
  min-height: 2rem;
  max-height: 6rem;
  overflow-x: hidden;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  display: none;
}
.chat-input > p {
  text-align: center;
  font-weight: lighter;
}
.small {
  width: 1.5rem;
  height: 1.5rem;
}
.large {
  width: 60px;
  height: 60px;
}
.chat-input img,
.message-content img {
  vertical-align: text-bottom;
  padding: 0 0.2rem;
}
.num-tip {
  position: absolute;
  top: -2px;
  right: -13px;
}
.spot-tip {
  position: absolute;
  top: 0;
  right: -6px;
}
.contacts-group-target {
  position: fixed;
  top: 3.5rem;
  bottom: 55px;
  right: 0.25rem;
  width: 1rem;
  z-index: 9999;
}
.contacts-group-target ul {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 100%;
}
ul > li {
  list-style: none;
  line-height: 1;
}
.contacts-group-target a {
  color: #888888;
}
.weui-toast {
  display: flex;
  justify-content: center;
  align-items: center;
}
.weui-toast-container {
  font-size: 3rem;
  font-weight: border;
  line-height: 1;
}
#chat-page .weui-tab {
  overflow: hidden;
}
#chat-page .weui-tab__panel {
  background-image: url(../images/chat-bg.jpg);
  background-size: cover;
  background-position: center center;
}
.chat-container {
  box-sizing: border-box;
  width: 100%;
  padding: 1px 0.75rem;
}
::-webkit-scrollbar {
  display: none;
}
.chat-container > * {
  width: 100%;
  margin: 0.75rem 0;
  display: flex;
}
.chat-info {
  justify-content: center;
}
.chat-info p {
  font-size: 0.75rem;
  font-weight: lighter;
  padding: 0 0.25rem;
  border-radius: 0.25rem;
  background-color: rgba(255, 255, 255, 0.7);
}
.chat-message {
  align-items: flex-start;
  font-size: 1.25rem;
}
.chat-reciver {
  flex-direction: row-reverse;
}
.bigEmoji {
  padding: 0.25rem 0.5rem;
  margin: 0 1rem;
}
.message-content {
  padding: 0.25rem 0.5rem;
  margin: 0 1rem;
  border-radius: 5px;
  position: relative;
}
.chat-sender .message-content {
  background-color: #fff;
}
.chat-sender .message-content::before {
  content: "";
  position: absolute;
  height: 0;
  width: 0;
  top: 1.25rem;
  left: 0;
  transform: translate(-100%, -50%);
  border-right: 0.5rem solid #fff;
  border-top: 0.5rem solid transparent;
  border-bottom: 0.5rem solid transparent;
}
.chat-reciver .message-content {
  background-color: rgb(152, 225, 101);
}
.chat-reciver .message-content::after {
  content: "";
  position: absolute;
  height: 0;
  width: 0;
  top: 1.25rem;
  right: 0;
  transform: translate(100%, -50%);
  border-left: 0.5rem solid rgb(152, 225, 101);
  border-top: 0.5rem solid transparent;
  border-bottom: 0.5rem solid transparent;
}
.profile-pic {
  width: 2.5rem;
  height: 2.5rem;
  flex-shrink: 0;
  border-radius: 5px;
  background-position: center center;
  background-size: cover;
}
.chat-sender .profile-pic {
  background-image: url(../images/sender.jpg);
}
.chat-reciver .profile-pic {
  background-image: url(../images/reciver.jpg);
}
.chat-message .empty {
  flex: 1;
  min-width: 2rem;
}
.chat-tools {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  background-color: rgb(247, 247, 247);
}
.emoji-pages-tabbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  line-height: 1;
  position: relative;
}
#emoji-page-choose {
  flex: 1;
  display: flex;
  flex-wrap: nowrap;
  overflow-x: scroll;
  overflow-y: hidden;
  -webkit-overflow-scrolling: touch;
}
#emoji-page-choose > div {
  flex: 0;
  height: 3rem;
  position: relative;
  border-radius: 5px;
}
#emoji-page-choose img {
  border-left: 0.5px solid rgb(222, 222, 222);
  border-right: 0.5px solid rgb(222, 222, 222);
  margin: 0.75rem 0;
  padding: 0 0.75rem;
  background-color: transparent;
}
#emoji-plus,
#emoji-setting {
  height: 3rem;
}
#emoji-plus > div,
#emoji-setting > div {
  width: 1.5rem;
  height: 1.5rem;
  padding: 0 0.75rem;
  margin: 0.75rem 0;
  font-size: 1.5rem;
  text-align: center;
}
#emoji-plus > div {
  border-right: 0.5px solid rgb(222, 222, 222);
}
#emoji-setting > div {
  border-left: 0.5px solid rgb(222, 222, 222);
}
.tools-container {
  height: 13rem;
}
.emoji-tip {
  height: 2rem;
}
.swiper-container {
  height: 11rem;
}
.emoji-table .swiper-slide {
  display: flex;
  align-items: center;
  align-content: space-around;
  flex-wrap: wrap;
}
.emoji-cell {
  width: 25%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.face-cell {
  width: 14%;
  display: flex;
  justify-content: center;
}
.emoji-cell > div,
.face-cell > div {
  position: relative;
  padding: 0.2rem;
  border-radius: 5px;
}
.emoji-cell > div {
  width: 60px;
  height: 60px;
}
.face-cell > div {
  width: 1.5rem;
  height: 1.5rem;
}
.chat-tools::before,
.emoji-pages-tabbar::before {
  content: " ";
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  height: 1px;
  border-top: 1px solid #c0bfc4;
  color: #c0bfc4;
  -webkit-transform-origin: 0 0;
  transform-origin: 0 0;
  -webkit-transform: scaleY(0.5);
  transform: scaleY(0.5);
}
